.burger__menu {
	min-height: 100vh;
	min-width: 100vw;
	background-color: #ffffffff;
	position: fixed;
	top: 0;
	left: 0;
	opacity: 1;
	transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
	z-index: 10;
	@media screen and (max-width: 767px) {
		display: block;
	}
	&.is-hidden {
		opacity: 0;
		pointer-events: none;
	}
	&__close {
		width: 30px;
		height: 30px;
		background-color: transparent;
		position: absolute;
		top: 8px;
		right: 8px;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
			transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
		&:hover,
		&:focus {
			fill: $color-blue;
			transform: rotate(360deg);
		}
	}
	&__list {
		display: flex;
		flex-direction: column;
		gap: 32px;
		margin-top: 48px;
		margin-bottom: calc(100vh - 48px - 48px - 210px - 163px - 22px);
		> li {
			margin-left: 40px;
			> a {
				font-weight: 500;
				font-size: 40px;
				line-height: 47px;
				letter-spacing: 0.02em;
				color: $color-black;
				transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
				&:hover {
					color: $color-blue;
				}
			}
		}
	}
	&__contacts {
		margin-top: 64px;
		margin-left: 40px;
		> li {
			> a {
				font-weight: 500;
				font-size: 34px;
				line-height: 28px;
				letter-spacing: 0.02em;
				color: $color-gray;
				transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
				&:hover {
					color: $color-blue;
				}
			}
			&:last-child {
				> a {
					font-weight: 500;
					font-size: 24px;
					line-height: 40px;
					letter-spacing: 0.02em;
				}
				margin-top: 32px;
			}
		}
	}
	&__socials {
		margin-top: 64px;
		margin-left: 40px;
		display: flex;
		gap: 20px;
		> li {
			> a {
				font-weight: 500;
				font-size: 18px;
				line-height: 22px;
				letter-spacing: 0.02em;
				color: $color-blue;
			}
			position: relative;
			&:not(:last-child)::before {
				content: '';
				width: 22px;
				height: 0px;
				border: 1px solid rgba(33, 33, 33, 0.2);
				transform: rotate(90deg);
				position: absolute;
				position: absolute;
				right: -25px;
				top: 50%;
			}
		}
	}
}
