.clients {
	margin-bottom: 94px;
	margin-top: 94px;
	&__title {
		font-weight: 700;
		font-size: 36px;
		line-height: 1.17;
		text-align: center;
		letter-spacing: 0.03em;
		margin-bottom: 50px;
		color: #212121;
	}
	&__list {
		display: flex;
		gap: 30px;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		&__link {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 170px;
			height: 92px;
			border: 1px solid #afb1b8;
			border-radius: 4px;
			transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
			&:hover,
			&:focus {
				border: 1px solid $color-blue;
			}
			> svg {
				fill: #afb1b8;
				transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
			}
			&:hover > svg,
			&:focus > svg {
				fill: $color-blue;
			}
		}
	}
}
@media screen and (max-width: 1169px) {
	.clients {
		&__list {
			&__link {
				width: 226px;
			}
		}
	}
}
@media screen and (max-width: 767px) {
	.clients {
		&__list {
			&__link {
				width: 210px;
			}
		}
	}
}
