.info {
	margin-top: 94px;
	margin-bottom: 118px;
	&__list {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: 30px;
		> li {
			max-width: 270px;
		}
		&__title {
			font-weight: 700;
			font-size: 14px;
			line-height: 1.14;
			letter-spacing: 0.03em;
			text-transform: uppercase;
			margin-bottom: 10px;
			font-family: $roboto;
		}
		&__text {
			color: $color-gray;
			font-size: 14px;
			line-height: 1.71;
			letter-spacing: 0.03em;
		}
		&__icon {
			width: 270px;
			height: 120px;
			background-color: $color-light;
			border-radius: 4px;
			margin-bottom: 30px;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}
@media screen and (max-width: 1169px) {
	.info {
		&__list {
			> li {
				max-width: 354px;
			}
			&__icon {
				width: 354px;
			}
		}
	}
}
@media screen and (max-width: 767px) {
	.info {
		&__list {
			> li {
				max-width: 450px;
			}
			&__icon {
				width: 450px;
			}
		}
	}
}
@media screen and (max-width: 479px) {
	.info__list {
		> li {
			width: calc(100vw - 10px);
			> div {
				width: 100%;
			}
		}
	}
}
