.team {
	background-color: $color-light;
	padding: 94px 0;
	&__title {
		font-weight: 700;
		font-size: 36px;
		line-height: 42.19px;
		text-align: center;
		letter-spacing: 0.03em;
		margin-bottom: 50px;
		margin-top: 94px;
	}
	&__list {
		display: flex;
		gap: 30px;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		> li {
			background-color: $color-white;
			box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
				0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
			border-radius: 0px 0px 4px 4px;
			overflow: hidden;
			width: 270px;
			> img {
				width: 100%;
			}
		}
		&__title {
			text-align: center;
			font-weight: 500;
			font-size: 16px;
			line-height: 1.19;
			letter-spacing: 0.03em;
			margin-bottom: 10px;
			margin-top: 30px;
		}
		&__text {
			color: $color-gray;
			font-size: 16px;
			line-height: 1.19;
			letter-spacing: 0.03em;
			text-align: center;
			margin-bottom: 16px;
		}
		&__social {
			display: flex;
			justify-content: center;
			gap: 10px;
			margin-bottom: 30px;
			&__link {
				width: 44px;
				height: 44px;
				border-radius: 50%;
				display: flex;
				align-items: center;
				justify-content: center;
				transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
				&:hover,
				&:focus {
					background-color: $color-blue;
				}
				&:hover > i,
				&:focus > i {
					color: $color-white;
				}

				> i {
					color: $color-gray;
					transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
				}
			}
		}
	}
}
@media screen and (max-width: 1169px) {
	.team {
		&__list {
			> li {
				width: 354px;
			}
		}
	}
}
@media screen and (max-width: 767px) {
	.team {
		&__list {
			> li {
				width: 450px;
			}
		}
	}
}
