.work {
	margin-bottom: 94px;
	&__title {
		font-weight: 700;
		font-size: 36px;
		line-height: 1.17;
		text-align: center;
		letter-spacing: 0.03em;
		margin-bottom: 50px;
	}
	&__list {
		display: flex;
		gap: 30px;
		> li {
			position: relative;

			&:nth-child(1)::after {
				content: 'Десктопні додатки';
			}
			&:nth-child(2)::after {
				content: 'Мобільні додатки';
			}
			&:nth-child(3)::after {
				content: 'Дизайнерські рішення';
			}
			&::after {
				content: 'dsadsadasdas';
				color: $color-white;
				text-align: center;
				font-weight: 700;
				font-size: 14px;
				line-height: 1.14;
				letter-spacing: 0.03em;
				text-transform: uppercase;
				position: absolute;
				display: block;
				width: 100%;
				background-color: rgba(47, 48, 58, 0.8);
				bottom: 0;
				left: 0;

				padding: 27px 0;
			}
		}
	}
}
@media screen and (max-width: 1169px) {
	.work {
		display: none;
	}
}
