@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:wght@300;400;500;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
}

.container {
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 1170px) {
  .container {
    max-width: 1170px;
  }
}
.no-scroll {
  overflow: hidden;
}

.header {
  border-bottom: 1px solid #ececec;
  position: sticky;
  top: 0;
  background-color: #ffffff;
  z-index: 1;
  left: 0;
  padding: 0 15px;
}
.header > .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 25px;
}
.header > .container > nav {
  display: flex;
  align-items: center;
}
.header__logo {
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-right: 93px;
}
.header__logo > span {
  color: #2196f3;
  font-family: "Raleway", sans-serif;
}
.header__nav {
  display: flex;
  gap: 46px;
}
.header__nav > li > a.header__nav__link {
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}
.header__nav > li > a.header__nav__link:hover {
  color: #2196f3;
}
.header__nav > li > a.header__nav__link.active {
  color: #2196f3;
}
.header__nav > li > a.header__nav__link.active::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  position: absolute;
  bottom: -31px;
  left: 0;
}
.header__burger {
  display: none;
  visibility: hidden;
  font-size: 24px;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__burger:hover {
  color: #2196f3;
}
.header__contacts {
  display: flex;
  gap: 50px;
}
.header__contacts > li > a.header__contacts__link {
  color: #757575;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
}
.header__contacts > li > a.header__contacts__link > svg {
  margin-right: 10px;
  fill: #757575;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__contacts > li > a.header__contacts__link:hover {
  color: #2196f3;
}
.header__contacts > li > a.header__contacts__link:hover > svg {
  fill: #2196f3;
}

@media screen and (max-width: 1169px) {
  .header__contacts {
    display: block;
  }
  .header__contacts > li:not(:last-child) {
    margin-bottom: 10px;
  }
  .header__contacts__link {
    text-align: center;
  }
}
@media screen and (max-width: 767px) {
  .header > .container {
    padding: 16px 15px;
  }
  .header__logo {
    margin-right: 0;
  }
  .header__contacts {
    display: none;
  }
  .header__burger {
    display: block;
    visibility: visible;
  }
  .header__nav {
    display: none;
  }
}
.hero {
  background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../assets/hero-bg@1x.png");
  background-position: center, center;
  background-size: 1600px 600px, 1600px 600px;
  background-repeat: no-repeat;
  padding-top: 200px;
  padding-bottom: 200px;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../assets/hero-bg@1x.png");
  }
}
@media screen and (max-width: 1169px) {
  .hero {
    background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../assets/hero-bg-md@1x.png");
    background-size: 768px 400px, 768px 400px;
    padding: 118px 0;
  }
}
@media screen and (max-width: 1169px) and (min-device-pixel-ratio: 2), screen and (max-width: 1169px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 1169px) and (min-resolution: 192dpi), screen and (max-width: 1169px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../assets/hero-bg-md@2x.png");
  }
}
@media screen and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../assets/hero-bg-sm@1x.png");
    background-size: 480px 400px, 480px 400px;
    padding: 118px 0;
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../assets/hero-bg-sm@2x.png");
  }
}
.hero__title {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
  max-width: 696px;
}
.hero__button {
  background-color: #2196f3;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__button:hover, .hero__button:focus {
  background-color: #188ce8;
}
.hero .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1169px) {
  .hero__title {
    font-size: 26px;
    line-height: 42px;
    max-width: 360px;
  }
}
.info {
  margin-top: 94px;
  margin-bottom: 118px;
}
.info__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
.info__list > li {
  max-width: 270px;
}
.info__list__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-family: "Roboto", sans-serif;
}
.info__list__text {
  color: #757575;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.info__list__icon {
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1169px) {
  .info__list > li {
    max-width: 354px;
  }
  .info__list__icon {
    width: 354px;
  }
}
@media screen and (max-width: 767px) {
  .info__list > li {
    max-width: 450px;
  }
  .info__list__icon {
    width: 450px;
  }
}
@media screen and (max-width: 479px) {
  .info__list > li {
    width: calc(100vw - 10px);
  }
  .info__list > li > div {
    width: 100%;
  }
}
.work {
  margin-bottom: 94px;
}
.work__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.work__list {
  display: flex;
  gap: 30px;
}
.work__list > li {
  position: relative;
}
.work__list > li:nth-child(1)::after {
  content: "Десктопні додатки";
}
.work__list > li:nth-child(2)::after {
  content: "Мобільні додатки";
}
.work__list > li:nth-child(3)::after {
  content: "Дизайнерські рішення";
}
.work__list > li::after {
  content: "dsadsadasdas";
  color: #ffffff;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  position: absolute;
  display: block;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
  bottom: 0;
  left: 0;
  padding: 27px 0;
}

@media screen and (max-width: 1169px) {
  .work {
    display: none;
  }
}
.team {
  background-color: #f5f4fa;
  padding: 94px 0;
}
.team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42.19px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  margin-top: 94px;
}
.team__list {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.team__list > li {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  overflow: hidden;
  width: 270px;
}
.team__list > li > img {
  width: 100%;
}
.team__list__title {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  margin-top: 30px;
}
.team__list__text {
  color: #757575;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 16px;
}
.team__list__social {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
}
.team__list__social__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team__list__social__link:hover, .team__list__social__link:focus {
  background-color: #2196f3;
}
.team__list__social__link:hover > i, .team__list__social__link:focus > i {
  color: #ffffff;
}
.team__list__social__link > i {
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 1169px) {
  .team__list > li {
    width: 354px;
  }
}
@media screen and (max-width: 767px) {
  .team__list > li {
    width: 450px;
  }
}
.clients {
  margin-bottom: 94px;
  margin-top: 94px;
}
.clients__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: #212121;
}
.clients__list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.clients__list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__list__link:hover, .clients__list__link:focus {
  border: 1px solid #2196f3;
}
.clients__list__link > svg {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__list__link:hover > svg, .clients__list__link:focus > svg {
  fill: #2196f3;
}

@media screen and (max-width: 1169px) {
  .clients__list__link {
    width: 226px;
  }
}
@media screen and (max-width: 767px) {
  .clients__list__link {
    width: 210px;
  }
}
.portfolio {
  margin: 94px 0;
}
.portfolio > .container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
}
.portfolio__sort {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}
.portfolio__sort__btn {
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  padding: 6px 22px;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__sort__btn:hover, .portfolio__sort__btn:focus {
  background-color: #2196f3;
  color: #ffffff;
}
@media screen and (max-width: 767px) {
  .portfolio__sort {
    justify-content: start;
  }
}
.portfolio__list {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr 1fr;
}
@media screen and (max-width: 1169px) {
  .portfolio__list {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 767px) {
  .portfolio__list {
    place-items: center;
    grid-template-columns: 1fr;
  }
}
.portfolio__list > li {
  width: 370px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid #eeeeee;
}
@media screen and (max-width: 1169px) {
  .portfolio__list > li {
    width: 354px;
  }
}
@media screen and (max-width: 767px) {
  .portfolio__list > li {
    width: 450px;
  }
}
@media screen and (max-width: 450px) {
  .portfolio__list > li {
    width: calc(100vw - 30px);
  }
}
.portfolio__list > li:hover, .portfolio__list > li:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio__list > li:hover > a > .overlay::after, .portfolio__list > li:focus > a > .overlay::after {
  transform: translateY(0);
}
.portfolio__list > li > a {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__list > li > a > .overlay {
  height: 294px;
  width: 100%;
  position: relative;
  overflow: hidden;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__list > li > a > .overlay > img {
  width: 100%;
  height: 100%;
}
.portfolio__list > li > a > .overlay::after {
  content: "Ресурс пропонує комплексні пропозиції з різним рівнем функціоналу та сервісів. Все це дозволить відвідувачу отримати вичерпні відомості про компанію чи приватну особу.";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  color: #fff;
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  background: rgba(33, 150, 243, 0.9);
  opacity: 1;
  transform: translateY(100%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__list > li > a > .portfolio__list__text {
  padding: 20px 24px;
}
.portfolio__list > li > a > .portfolio__list__text > h3 {
  color: #212121;
  font-size: 18px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 4px;
}
.portfolio__list > li > a > .portfolio__list__text > p {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}

.footer {
  background-color: #2f303a;
  padding: 60px 0;
}
.footer > .container {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
}
.footer__logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-bottom: 20px;
  color: #2196f3;
}
.footer__logo > span {
  color: #ffffff;
}
.footer__address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  max-width: 232px;
}
.footer__list {
  margin-top: 20px;
}
.footer__list__link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer__list__link:not(:last-child) {
  margin-bottom: 9px;
}
.footer__list__link.white {
  color: #ffffff;
}
.footer__social {
  margin-left: 70px;
  margin-right: 93px;
}
.footer__social__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}
.footer__social__list {
  display: flex;
  gap: 10px;
}
.footer__social__list > li {
  width: 44px;
  height: 44px;
}
.footer__social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__social__link:hover, .footer__social__link:focus {
  background-color: #2196f3;
}
.footer__subscribe__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}
.footer__subscribe__form {
  display: flex;
  gap: 12px;
}
.footer__subscribe__input {
  width: 358px;
  height: 50px;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding-left: 16px;
  color: #ffffff;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__subscribe__input:focus, .footer__subscribe__input:hover {
  border: 1px solid #2196f3;
}
.footer__subscribe__input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer__subscribe__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer__subscribe__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  background-color: #2196f3;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__subscribe__button > svg {
  fill: #ffffff;
  margin-left: 10px;
}
.footer__subscribe__button:hover, .footer__subscribe__button:focus {
  background-color: #188ce8;
}

@media screen and (max-width: 1169px) {
  .footer > .container {
    align-items: center;
    justify-content: center;
  }
  .footer__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footer__logo {
    text-align: center;
    display: block;
  }
  .footer__social {
    margin-left: 165px;
    margin-right: 0;
  }
  .footer__social__title {
    text-align: center;
  }
  .footer__subscribe {
    margin-top: 60px;
  }
  .footer__subscribe__title {
    text-align: center;
    margin-bottom: 20px;
  }
  .footer__subscribe__form {
    width: 450px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer__subscribe__input {
    width: 100%;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 767px) {
  .footer > .container {
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .footer__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footer__logo {
    text-align: center;
    display: block;
  }
  .footer__social {
    margin-top: 60px;
    margin-left: 0;
  }
  .footer__social__title {
    text-align: center;
  }
  .footer__subscribe {
    margin-top: 60px;
  }
  .footer__subscribe__title {
    text-align: center;
    margin-bottom: 20px;
  }
  .footer__subscribe__form {
    width: 450px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer__subscribe__input {
    width: 100%;
  }
}
@media screen and (max-width: 479px) {
  .footer__subscribe__input {
    width: calc(100vw - 50px);
  }
  .footer__subscribe__form {
    width: calc(100vw - 50px);
  }
}
.backdrop {
  min-height: 100vh;
  min-width: 100vw;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  background-color: #fff;
  padding: 40px;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  position: relative;
}
.modal__close {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close:hover, .modal__close:focus {
  fill: #2196f3;
  transform: rotate(360deg);
}
.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}
.modal__form {
  display: flex;
  flex-direction: column;
}
.modal__form__input {
  height: 40px;
}
.modal__form__wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
  position: relative;
}
.modal__form__wrapper:not(:last-child) {
  margin-bottom: 10px;
}
.modal__form__label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}
.modal__form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__form__input:focus, .modal__form__input:hover {
  border: 1px solid #2196f3;
  outline: none;
}
.modal__form__input:focus + .modal__form__icon, .modal__form__input:hover + .modal__form__icon {
  fill: #2196f3;
  color: #2196f3;
}
.modal__form__icon {
  position: absolute;
  left: 12px;
  top: 66%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #212121;
  color: #212121;
}
.modal__form__textarea {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__form__textarea:focus, .modal__form__textarea:hover {
  border: 1px solid #2196f3;
  outline: none;
}
.modal__form__button {
  width: 200px;
  height: 50px;
  background-color: #2196f3;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
}
.modal__form__button:hover, .modal__form__button:focus {
  background-color: #188ce8;
}
.modal__form__checkbox {
  margin: 0 auto 30px auto;
}
.modal__form__checkbox > input {
  margin-right: 8px;
  accent-color: #2196f3;
}
.modal__form__checkbox > span {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
.modal__form__checkbox > span > a {
  color: #2196f3;
  text-decoration-line: underline;
}
@media screen and (max-width: 1169px) {
  .modal__title {
    max-width: 370px;
  }
  .modal__form {
    width: 370px;
    margin: 0 auto;
  }
  .modal__form__checkbox > span {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #757575;
  }
}

.burger__menu {
  min-height: 100vh;
  min-width: 100vw;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 10;
}
@media screen and (max-width: 767px) {
  .burger__menu {
    display: block;
  }
}
.burger__menu.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.burger__menu__close {
  width: 30px;
  height: 30px;
  background-color: transparent;
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.burger__menu__close:hover, .burger__menu__close:focus {
  fill: #2196f3;
  transform: rotate(360deg);
}
.burger__menu__list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 48px;
  margin-bottom: calc(100vh - 48px - 48px - 210px - 163px - 22px);
}
.burger__menu__list > li {
  margin-left: 40px;
}
.burger__menu__list > li > a {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: #000000;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.burger__menu__list > li > a:hover {
  color: #2196f3;
}
.burger__menu__contacts {
  margin-top: 64px;
  margin-left: 40px;
}
.burger__menu__contacts > li > a {
  font-weight: 500;
  font-size: 34px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.burger__menu__contacts > li > a:hover {
  color: #2196f3;
}
.burger__menu__contacts > li:last-child {
  margin-top: 32px;
}
.burger__menu__contacts > li:last-child > a {
  font-weight: 500;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: 0.02em;
}
.burger__menu__socials {
  margin-top: 64px;
  margin-left: 40px;
  display: flex;
  gap: 20px;
}
.burger__menu__socials > li {
  position: relative;
}
.burger__menu__socials > li > a {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #2196f3;
}
.burger__menu__socials > li:not(:last-child)::before {
  content: "";
  width: 22px;
  height: 0px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
  position: absolute;
  position: absolute;
  right: -25px;
  top: 50%;
}/*# sourceMappingURL=main.css.map */